<dl class="inv-plus-dialog">
    <dt>{{localize "inventory-plus.inv-plus-dialog.categoryname"}} </dt>
    <dd><input name="label" type="text" value="{{label}}"></dd>
    <dt title="{{localize "inventory-plus.inv-plus-dialog.maxweightdescription"}}">{{localize "inventory-plus.inv-plus-dialog.maxweightprefix"}} </dt>
    <dd title="{{localize "inventory-plus.inv-plus-dialog.maxweightprefix"}}">
        <input name="maxWeight" type="text" data-dType="Number" value="{{maxWeight}}">
    </dd>
    <dt title="{{localize "inventory-plus.inv-plus-dialog.inherentweightdescription"}}">{{localize "inventory-plus.inv-plus-dialog.inherentweightprefix"}} </dt>
    <dd title="{{localize "inventory-plus.inv-plus-dialog.inherentweightdescription"}}">
        <input name="ownWeight" type="text" data-dType="Number" value="{{ownWeight}}">
    </dd>
    <dt title="{{localize "inventory-plus.inv-plus-dialog.ignoreweightdescription"}}">{{localize "inventory-plus.inv-plus-dialog.ignoreweightprefix"}} </dt>
    <dd title="{{localize "inventory-plus.inv-plus-dialog.ignoreweightdescription"}}">
        <input name="ignoreWeight" type="checkbox" {{#if ignoreWeight}}checked{{/if}}>
    </dd>
    <dt title="{{localize "inventory-plus.inv-plus-dialog.explicittypedescription"}}">{{localize "inventory-plus.inv-plus-dialog.explicittype"}} </dt>
    <dd title="{{localize "inventory-plus.inv-plus-dialog.explicittypedescription"}}">
        <select id="explicitType" name="explicitType" is="ms-dropdown-inventory-plus">
            {{#each types as |type|}}
                <option data-image="{{type.img}}" value="{{type.id}}" {{#if type.isSelected}}selected{{else}}{{/if}}>{{localize type.name}}</option>
            {{/each}}
        </select>
    </dd>
</dl>

